<app-header [titulo]="'Fab'"></app-header>


<ion-content [fullscreen]="true">

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="share-social"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="logo-facebook" color="face"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-linkedin" color="links"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-youtube" color="yt"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-xbox" color="xbox"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-list>
    <ion-item *ngFor="let item of items; let i = index">
      <ion-label>Este es el ejemplo {{i+1}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
