<app-header titulo="card" ></app-header>

<ion-content>
<ion-card mode="ios">
  <ion-card-header>
    <ion-card-title>lentes</ion-card-title>
    <ion-card-subtitle>Gato con</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <img src="https://media.istockphoto.com/id/926092800/es/foto/retrato-de-un-gato-scottish-straight-con-gafas.jpg?s=612x612&w=0&k=20&c=GjVb3qf0V6AfTnDpIisb4vcr6H_ALqmk454fTtFZDHs="> <br>
    Este es un gato menso con lentes jaja mirenlo <br>
    <ion-button>Ayuda el gato me quiere comer</ion-button>
  </ion-card-content>
</ion-card>
</ion-content> 